### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/.gitignore
/HillProject.iml
/.idea/misc.xml
/.idea/modules.xml
/Task3_1/Task3_1.iml
/.idea/vcs.xml
/Task4_1/Task4_1.iml
/Task4_1/Task5_1/Task5_1.iml
/Task6_1/Task6_1.iml
